@font-face {
  src: url("../fonts/Entanglement-rgpRB.ttf");
  font-family: "title-font";
}

@font-face {
  src: url("../fonts/Museo_Slab_100.otf");
  font-family: "normal-font";
}

body {
  background-color: rgb(220, 241, 181);
  font-family: "normal-font";
}

p {
  margin: 0;
}

label {
  font-size: 2vw;
}

select {
  background-color: #368fa5;
  padding: 8px;
  border-radius: 3.5px;
  border: none;
}

.center {
  margin: auto;
  text-align: center;
}

.button {
  border: none;
  background-color: rgb(197, 237, 78);
  border-radius: 1.5px;
  padding: 8px;
  transition: background-color 1000ms ease-in-out;
}

.center-button {
  justify-content: center;
  text-align: center;
  width: inherit;
}

.button:hover {
  background-color: rgb(150, 242, 225);
  cursor: pointer;
}

.info {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.arch {
  width: 15%;
}

#trolley-button, #trolley-buttonn, #trolley-buttone {
  position: fixed;
  left: 5px;
  bottom: 5px;
}

#title-text {
  font-size: 10vw;
  font-family: "title-font";
}

#bovine, #garden-text, #watcher, #hall {
  font-size: 7vw;
  font-family: "title-font";
}

#begin-button {
  width: 30%;
  display: flex;
  position: relative;
  left: 35%;
}

#hyperspace, #drivein, #plants, #suburbia, #concord {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  opacity: 0.1;
  display: none;
}

#hyperspace {
  background-image: url("../IMG_0558.gif");
}

#drivein {
  background-image: url("../drivein.webp");
}

#plants {
  background-image: url("../garden.webp");
}

#suburbia {
  background-image: url("../suburbia.jpg");
}

#concord {
  background-image: url("../concord.jpeg");
}

#trolley, #garden, #neighborhood, #townhall {
  display: none;
}

#meetinghouse {
  width: 24%;
  left: 34%;
  bottom: 10%;
  position: absolute;
  margin: auto;
  opacity: 0.3;
  filter: drop-shadow(8px 8px 16px white);
}

#tree {
  width: 11%;
  left: 48.5%;
  position: absolute;
  margin: auto;
  opacity: 0.15;
}

#plant-selector, #life-selector {
  font-size: 2vw;
  font-family: "normal-font";
  position: absolute;
  outline: none;
}

#sim-start {
  font-size: 2vw;
  position: absolute;
}

#whyme {
  position: relative;
}