@font-face {
  src: url("../fonts/Entanglement-rgpRB.ttf");
  font-family: "title-font";
}

@font-face {
  src: url("../fonts/Museo_Slab_100.otf");
  font-family: "normal-font";
}

body {
  background-color: rgb(220, 241, 181);
  font-family: "normal-font";
}

p {
  margin: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.button {
  border: none;
  background-color: rgb(197, 237, 78);
  border-radius: 1.5px;
  padding: 8px;
  transition: background-color 1000ms ease-in-out;
}

.center-button {
  justify-content: center;
  text-align: center;
  width: inherit;
}

.button:hover {
  background-color: rgb(150, 242, 225);
  cursor: pointer;
}

#title-text {
  font-size: 10vw;
  font-family: "title-font";
}

#begin-button {
  width: 30%;
  display: flex;
  position: relative;
  left: 40%;
}