@font-face {
  src: url("../fonts/Entanglement-rgpRB.ttf");
  font-family: "title-font";
}

@font-face {
  src: url("../fonts/Museo_Slab_100.otf");
  font-family: "normal-font";
}

body {
  background-color: rgb(220, 241, 181);
  font-family: "normal-font";
}

p {
  margin: 0;
}

.center {
  margin: auto;
  text-align: center;
}

.button {
  border: none;
  background-color: rgb(197, 237, 78);
  border-radius: 1.5px;
}

.button:hover {
  cursor: pointer;
}

#title-text {
  font-size: 10vw;
  font-family: "title-font";
}
